
<ion-content class="products ion-padding" cache-view="false">
  <div class="bb-column">
    <ion-label class="title-products ion-margin-top ion-margin-bottom">Productos</ion-label>
    <ion-label class="title-products ion-margin-bottom">Marca</ion-label>
  </div>
  <ion-item color="light" class="prenda-item ion-margin-bottom">
    <ion-select [(ngModel)]="selecTedBrand" placeholder="Tipo de marca" (ionChange)="filterByBrand()">
      <ion-select-option *ngFor="let marca of brands" value="{{ marca }}">
        {{ marca }}
      </ion-select-option>
    </ion-select>
  </ion-item>
    <ion-label class="title-products ion-margin-top">Talle</ion-label>
  <ion-item color="light" class="prenda-item">
    <ion-select [(ngModel)]="selecTedTalle" placeholder="Tipo de talle" (ionChange)="filterByHigh()">  
      <ion-select-option *ngFor="let talle of talles" value="{{ talle }}">
        {{ talle }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <div class="buttons-header ion-margin-top ion-margin-bottom">
    <ion-button (click)="addProduct()">Agregar producto</ion-button>
    <ion-button (click)="reloadPage()">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-item color="light" class="dolar-item ion-margin-top" *ngFor="let product of filterProducts ; let i = index" (click)="toDetail(i)">
    <div class="bb-column">
    <img src='./assets/icon/{{ product.prenda }}.svg'alt="" class="products-icon" *ngIf="product.prenda">
    <div class="clothe-container ion-margin-top ion-margin-bottom io-row">  
        <ion-label class="producto">Producto: {{ product.prenda }}</ion-label>
        <ion-label class="producto">Precio: {{ product.precio }}</ion-label>
        <ion-label class="producto">Marca: {{ product.marca }}</ion-label>
        <ion-label class="producto">Talle: {{ product.talle }}</ion-label>
      </div>
    </div>
  </ion-item>
    <ion-button class="ion-margin-top" color="danger" (click)="cleanFilters()">Limpiar filtos</ion-button>
  <ion-button class="ion-margin-top" (click)="downloadStock()">
    Descargar stock <ion-icon name="cloud-download-outline"></ion-icon>
  </ion-button>
</ion-content>

<div class="tabs-navbar">
  <ion-tab-button tab="home" (click) = "toBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
    Volver
  </ion-tab-button>
  <ion-tab-button tab="radio" (click) = "toMenu()">
    <ion-icon name="grid-outline"></ion-icon>
    Menu
  </ion-tab-button>
</div>
