ion-content.products{
    --ion-background-color: linear-gradient(#FEB692, #EA5455);
}

.title-products{
    color: white;
    font-size: 24px;
}

ion-item.prenda-item{
    --border-radius: 8px;
    margin-top: 8px;
    --ion-background-color: white;
    padding: 5px;
}

.tabs-navbar{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
}

  .products-icon{
    margin-top: 8px;
    width: 40px;
    height: 40px;
  }

  ion-item.dolar-item{
    --border-radius: 8px;
    margin-top: 8px;
    --ion-background-color: white;
 }

 .clothe-container{
    display: flex;
    justify-content: space-around;
    gap: 16px;
 }

 .bb-column{
    display: flex;
    flex-direction: column;
 }

 ion-label.producto{
  font-size: 14px;
}

.buttons-header{
  display: flex;
  justify-content: space-between;
}

