
<ion-content class="products ion-padding" cache-view="false">
  <div style="margin-bottom: 16px; margin-top:16px ;">
    <ion-label class="title-products">Productos</ion-label>
  </div>

  <div style="margin-bottom: 16px; margin-top:16px ;">
    <div class="io-row">
      <ion-button (click)="addProduct()">Agregar producto</ion-button>
      <ion-button (click)="stockPrint()">Imprimir stock</ion-button>
    </div>
  </div>
  <div style="margin-top: 16px;">
    <ion-item color="light" class="dolar-item" *ngFor="let product of filterProducts ; let i = index" (click)="toDetail(i)">
      <div class="bb-column">
      <img src='./assets/icon/{{ product.prenda }}.svg'alt="" class="products-icon" *ngIf="product.prenda">
      <div class="clothe-container ion-margin-top ion-margin-bottom io-row">  
          <ion-label class="producto">Producto: {{ product.prenda }}</ion-label>
          <ion-label class="producto">Precio: {{ product.precio }}</ion-label>
          <ion-label class="producto">Marca: {{ product.marca }}</ion-label>
          <ion-label class="producto">Talle: {{ product.talle }}</ion-label>
        </div>
      </div>
      </ion-item>
  </div>
  <div style="margin-bottom: 16px; margin-top: 16px;">
    <ion-label class="title-products">Marca</ion-label>
  </div>
  <ion-item color="light" class="prenda-item">
    <ion-select [(ngModel)]="selecTedBrand" placeholder="Marca" (ionChange)="filterByBrand()">
      <ion-select-option *ngFor="let marca of brands" value="{{ marca }}">
        {{ marca }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <div style="margin-top: 16px;">
    <ion-label class="title-products">Talle</ion-label>
  </div>
  <ion-item color="light" class="prenda-item">
    <ion-select [(ngModel)]="selecTedTalle" placeholder="Tipo de talle" (ionChange)="filterByHigh()">  
      <ion-select-option *ngFor="let talle of talles" value="{{ talle }}">
        {{ talle }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <div style="margin-top: 16px;">
    <ion-button (click)="cleanFilters()">Limpiar filtos</ion-button>
  </div>
</ion-content>

<div class="tabs-navbar">
  <ion-tab-button tab="home" (click) = "toBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
    Volver
  </ion-tab-button>
  <ion-tab-button tab="radio" (click) = "toMenu()">
    <ion-icon name="grid-outline"></ion-icon>
    Menu
  </ion-tab-button>
</div>
