<ion-content class="ion-padding">

  <div class="io-center">
  <ion-icon name="book-outline" class="register-icon"></ion-icon>
  </div>

    <ion-input
      label="Correo electronico"
      label-placement="floating"
      fill="outline"
      placeholder="Ingrese su correo electronico"
      [(ngModel)]="emailRegister"
      class="custom"
    ></ion-input>
  
    <ion-input
      label="Contraseña"
      label-placement="floating"
      fill="outline"
      placeholder="Ingrese su contraseña"
      [(ngModel)]="passwordRegister"
      type="password"
      class=" custom ion-margin-top"
    ></ion-input>

    <div class="io-center button-wrapper">
      <ion-button 
        [disabled]="emailRegister && passwordRegister ? false : true" 
        [color]="emailRegister && passwordRegister !validateField ? 'danger' : 'medium'" 
        class="ion-margin-top"
        (click)="registerUser()">
        Ingresar
    </ion-button>
    </div>
  
  </ion-content>