
<ion-content class="detail-product ion-padding">
  <ion-label class="detail-title ion-margin-top">Detalle de producto</ion-label>
  <ion-card *ngIf="productDetailId" class="ion-margin-top" color="light">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>{{ productDetailId.prenda }}</ion-card-title>
      <ion-card-subtitle>Marca : {{ productDetailId.marca }}</ion-card-subtitle>
      <ion-card-subtitle>Talle : {{ productDetailId.talle }}</ion-card-subtitle>
      <ion-card-subtitle>Precio : $ARS {{ productDetailId.precio }}</ion-card-subtitle>
      <ion-card-subtitle>Stock : {{ productDetailId.stock }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-label class="ion-margin-top ion-margin-bottom" color="light">Editar precio de producto en $ARS</ion-label>
  <ion-input
    label=""
    label-placement="floating"
    fill="outline"
    placeholder="Ingrese el monto actualizado"
    [(ngModel)]="selectedPrice"
    class="custom ion-margin-top"
    type="number"
    ></ion-input>
    <ion-button 
    class="delete-button ion-margin-top ion-margin-bottom" 
    (click)="updateProduct()"
    [disabled]="!selectedPrice || selectedPrice <= 0 || selectedPrice >100000"
    >Actualizar precio</ion-button>
    <ion-label class="ion-margin-top ion-margin-bottom" color="light">Editar cantidad de stock</ion-label>
    <ion-input
      label=""
      label-placement="floating"
      fill="outline"
      placeholder="Ingrese el monto actualizado"
      [(ngModel)]="selectedStock"
      class="custom ion-margin-top"
      type="number"
      ></ion-input>
      <ion-button 
      class="delete-button ion-margin-top ion-margin-bottom" 
      (click)="updateStock()"
      >Actualizar stock</ion-button>
    <ion-label color="light" class="ion-margin-top">Ajuste de tarifa según Dolar blue</ion-label>
    <ion-item *ngIf="dolars && productDetailId" color="light" class="dolar-item ion-margin-top ion-margin-bottom">
        <ion-label class="ion-margin-top">Precio actualizado al dolar :</ion-label>
        <ion-label class="ion-margin-top">$ARS {{ productDetailId.precio }} / $US {{ dolarBlue }} 
          = {{ actualPriceRound }} $US </ion-label>
    </ion-item > 
    <ion-button class="delete-button ion-margin-top" (click)="deleteProduct()" color="danger">Eliminar producto</ion-button>
</ion-content>

<div class="tabs-navbar">
  <ion-tab-button tab="home" (click) = "toBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
    Volver
  </ion-tab-button>
  <ion-tab-button tab="radio" (click) = "toMenu()">
    <ion-icon name="grid-outline"></ion-icon>
    Menu
  </ion-tab-button>
</div>

