
ion-content.detail-product{
    --ion-background-color: linear-gradient(#FEB692, #EA5455);
}

.detail-title{
    color: white;
    font-size: 24px;
}

.tabs-navbar{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
}