
ion-content.add-product {
    --ion-background-color: linear-gradient(#FEB692, #EA5455);
}

ion-item.prenda-item{
    --border-radius: 8px;
    --ion-background-color: white;
}

ion-input.custom {
    --background: white;
    --border-radius:8px;
    --color:black;
    padding: 5px;
    height: 40px;
    text-align: center;
}

ion-button.delete-button{
    display: flex;
    justify-content: center;
}

.title-products{
    color: white;
    font-size: 24px;
}

.tabs-navbar{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
}