<ion-content class="ion-padding">
  <div class="io-center">
  <ion-img
    src="./assets/icon/LogoRemera.svg" alt="logo" class="ion-padding clothe-icon"
  ></ion-img>
  </div>
  <ion-label *ngIf="validateField && inputUser" class="error-field"> El formato del mail es incorrecto</ion-label>
  <ion-input
    label="Correo electronico"
    label-placement="floating"
    fill="outline"
    placeholder="Ingrese su correo electronico"
    [(ngModel)]="inputUser"
    class="custom"
    (input)="validate()"
    [ngClass]="[ inputUser ? validateField ? 'errors' : 'sucess' : '' ]"
  ></ion-input>
  <ion-input
    label="Contraseña"
    label-placement="floating"
    fill="outline"
    placeholder="Ingrese su contraseña"
    [(ngModel)]="inputPassword"
    type="password"
    class=" custom ion-margin-top"
    [ngClass]="[ inputPassword ? 'sucess' : '' ]"
  ></ion-input>
  <div class="io-center button-wrapper">
    <ion-button 
    [disabled]="inputUser && inputPassword && !validateField ? false : true" 
    class="ion-margin-top"
    (click)="login()">
      Ingresar
  </ion-button>
    <ion-button class="ion-margin-top" color="danger" (click)="toRegister()">Registrarse</ion-button>
  </div>
  <ion-button class="ion-margin-top" color="primary"  class="button-google" (click)="registerGoogle()">  
    <ion-icon name="logo-google"></ion-icon>
  </ion-button>
</ion-content>
