<ion-content class="ion-padding liquidations">
    <ion-label class="title-liquidation ion-margin-top">Cotización del día</ion-label>
    <ion-item color="light" *ngFor="let dolar of dolars" class="dolar-item">
        <ion-label class="io-margin-left liquidations">{{ dolar.casa.nombre }}</ion-label>
        <ion-label>Compra: <span>{{ dolar.casa.compra }} $</span></ion-label>
        <ion-label>Venta: <span>{{ dolar.casa.venta }} $</span></ion-label>
    </ion-item>
    <ion-button class="redirect-button ion-margin-top" (click)="toProducts()">
      Ir a productos</ion-button>
</ion-content>

<div class="tabs-navbar">
    <ion-tab-button tab="home" (click) = "toBack()">
      <ion-icon name="chevron-back-outline"></ion-icon>
      Volver
    </ion-tab-button>
    <ion-tab-button tab="radio" (click) = "toMenu()">
      <ion-icon name="grid-outline"></ion-icon>
      Menu
    </ion-tab-button>
  </div>

