

.io-row{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
}



.io-margin-left{
    margin-right: 8px;
}

ion-content.test{
    --ion-background-color:  #EA5455;
 }

 ion-item.dolar-item{
    --border-radius: 8px;
    margin-top: 8px;
    --ion-background-color: white;
 }

 .title-liquidation{
    color: white;
    font-size: 24px;
 }

 .clothes-icon{
    width: 40px;
    height: 40px
 }


 .card-container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
 }

.tabs-navbar{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
}