
  <ion-content class="ion-padding">
    <ion-title>Menu principal</ion-title>
    <div class="menu-wrapper io-center">

      <div class="ion-margin-top" color="danger" class="button-wrapper io-center">
        <div class="menu-container io-center-column">
          <img src="./assets/icon/remera.svg"alt="" class="menu-icon">
          <p>Inventario</p>
        </div>
      </div>

      <div class="ion-margin-top" color="danger" class="button-wrapper io-center">
        <div class="menu-container io-center-column">
          <img src="./assets/icon/remera.svg"alt="" class="menu-icon">
          <p>Facturacion</p>
        </div>
      </div>

      <div class="ion-margin-top" color="danger" class="button-wrapper io-center">
        <div class="menu-container io-center-column">
          <img src="./assets/icon/remera.svg"alt="" class="menu-icon">
          <p>Consulta</p>
        </div>
      </div>

      <div class="ion-margin-top" color="danger" class="button-wrapper io-center">
        <div class="menu-container io-center-column">
          <img src="./assets/icon/remera.svg"alt="" class="menu-icon">
          <p>Seguimiento</p>
        </div>
      </div>

      <div class="ion-margin-top" color="danger" class="button-wrapper io-center">
      <div class="menu-container io-center-column">
        <img src="./assets/icon/remera.svg"alt="" class="menu-icon">
        <p>Salir</p>
      </div>
    </div>
      
  </div>
  </ion-content>


