
  <ion-content class="ion-padding">
    <div style="margin-bottom: 16px;">
      <ion-label class="title-menu">Menu</ion-label>
    </div>

    <div class="menu-wrapper io-center">

      <div class="ion-margin-top" color="danger" class="button-wrapper io-center" (click)="toProducts()">
        <div class="menu-container io-center-column">
          <img src="./assets/icon/Remera.svg"alt="" class="menu-icon">
          <p>Inventario</p>
        </div>
      </div>

      <div class="ion-margin-top" color="danger" class="button-wrapper io-center" (click)="toLiquidations()">
        <div class="menu-container io-center-column">
          <img src="./assets/icon/Dinero.svg"alt="" class="menu-icon">
          <p>Facturacion</p>
        </div>
      </div>

      <div class="ion-margin-top" color="danger" class="button-wrapper io-center">
        <div class="menu-container io-center-column">
          <img src="./assets/icon/Lupa.svg"alt="" class="menu-icon">
          <p>Consulta</p>
        </div>
      </div>

      <div class="ion-margin-top" color="danger" class="button-wrapper io-center"  (click)="toLogout()">
      <div class="menu-container io-center-column">
        <img src="./assets/icon/Salida.svg"alt="" class="menu-icon">
        <p>Salir</p>
      </div>
    </div>
      
  </div>
  </ion-content>


